<div class="container">
    <div class="inforUser p-2 m-3 row rounded-2">
        <div class="col-md-6">
            <h1 class="m-0 mb-2" style="color: rgba(253, 0, 84, 1); font-weight: 700;">YOUR BMI: 20.9</h1>
            <div class="showInput row gap-2">
                <input class="col-md-5 col-11 rounded-5 border-0 m-1 p-2 mx-2" type="text" placeholder="Height">
                <input class="col-md-5 col-11 rounded-5 border-0 m-1 p-2 mx-2" type="text" placeholder="Weight">
                <input class="col-md-5 col-11 rounded-5 border-0 m-1 p-2 mx-2" type="text" placeholder="Calories">
                <input class="col-md-5 col-11 rounded-5 border-0 m-1 p-2 mx-2" type="text" placeholder="Level">
            </div>
        </div>
        <div class="col-md-6 p-2">
            <h2 class="d-flex justify-content-end" style="font-weight: 700;" id="userName">NGUYỄN ĐỨC QUYỀN</h2>
            <h2 class="d-flex justify-content-end" style="font-weight: 700;" id="userAge">19</h2>
            <h2 class="d-flex justify-content-end" style="font-weight: 700;" id="activityRatios">VERY ACTIVE</h2>
        </div>
    </div>

    <div class="formArea row p-0 m-3 justify-content-between">
        <div class="updateForm form col-md-6 border-end text-center mb-2 rounded-start">
            <h2 class="mt-2" style="color: rgba(253, 0, 84, 1); font-weight: 700;"> Update</h2>
            <div for="height" style="font-size: 15px; font-weight: 600;">Height</div>
            <input type="text" class=" col-md-8 col-11 p-2 m-1 border-0 rounded-2" id="heightForm">

            <div for="weight" style="font-size: 15px; font-weight: 600;">Weight</div>
            <input type="text" class=" col-md-8 col-11 p-2 m-1 border-0 rounded-2" id="weightForm">

            <div for="height" style="font-size: 15px; font-weight: 600;">Level</div>
            <input type="text" class=" col-md-8 col-11 p-2 m-1 border-0 rounded-2" id="levelForm"><br>

            <div class="submit m-2">
                <input type="submit" class="button col-md-3 p-2 m-1 border-0 rounded-5 text-center" value="Update">
            </div>
        </div>
        <div class="inforForm form col-md-6 text-center mb-2  rounded-end">
            <h2 class="mt-2" style="color: rgba(253, 0, 84, 1); font-weight: 700;">Information</h2>
            <div for="nameForm" style="font-size: 15px; font-weight: 600;">Name</div>
            <input type="text" class=" col-md-8 col-11 p-2 m-1 border-0 rounded-2" id="nameForm">

            <div for="email" style="font-size: 15px; font-weight: 600;">Email</div>
            <input type="text" class=" col-md-8 col-11 p-2 m-1 border-0 rounded-2" id="emailForm">

            <div for="password" style="font-size: 15px; font-weight: 600;">Password</div>
            <input type="text" class=" col-md-8 col-11 p-2 m-1 border-0 rounded-2" id="passwordForm"><br>

            <div for="password" style="font-size: 15px; font-weight: 600;">Re-write Password</div>
            <input type="text" class=" col-md-8 col-11 p-2 m-1 border-0 rounded-2" id="passwordForm"><br>
            <div class="submit m-2">
                <input type="submit" class=" button col-md-3 p-2 m-1 border-0 rounded-5 text-center " value="Change">
            </div>
        </div>
    </div>
    <div class="foodHistory p-3 m-3 rounded-2">
        <h3 class="m-0 mb-2" style="color: rgba(253, 0, 84, 1); font-weight: 700;">Food Menu</h3>
        <div class="card card-content mb-3">
            <div class="row g-0 justify-content-start">
                <div class="col-lg-2 d-flex justify-content-center justify-content-lg-start align-items-center text-center">
                    <img src="https://anestisxasapotaverna.gr/wp-content/uploads/2021/12/ARTICLE-1.jpg"
                        class="img-fluid rounded-image mx-3 w-100" alt="error">
                </div>
                <div class="col-lg-6">
                    <div class="card-body card-body-text px-0 text-center text-lg-start">
                        <h5 class="card-title">France's Pizza</h5>
                        <p class="card-text">Pizza are very good for your health</p>
                        <p class="card-text"><small class="text-body-secondary">350 calo</small></p>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-center align-items-center  pb-lg-0 pb-3">
                    <button type="button" class="border-0 py-2 btn-custom text-light w-50 rounded-2">Remove</button>
                </div>
            </div>
        </div>
    </div>
    <div class="videoHistory p-3 m-3 rounded-1">
        <h3 class="m-0 mb-2" style="color: rgba(253, 0, 84, 1); font-weight: 700;">Watched History</h3>
        <div class="card card-content mb-3">
            <div class="row g-0 justify-content-start">
                <div class="col-lg-3 p-3 d-flex justify-content-center justify-content-lg-start align-items-center text-center">
                    <img src="https://anestisxasapotaverna.gr/wp-content/uploads/2021/12/ARTICLE-1.jpg"
                        class="mx-1 w-100" alt="error">
                </div>
                <div class="col-lg-4">
                    <div class="card-body card-body-text px-0 text-center text-lg-start">
                        <h5 class="card-title">France's Pizza</h5>
                        <p class="card-text">Pizza are very good for your health</p>
                        <p class="card-text"><small class="text-body-secondary">350 calo</small></p>
                    </div>
                </div>

                <div class="col-lg-4 d-flex justify-content-lg-end justify-content-center align-items-center  pb-lg-0 pb-3">
                    <button type="button" class="border-0 py-2 btn-custom text-light w-50 rounded-2">Watch</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Video</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="/admin/user">
        {{!-- <div class="modal-body">
          <div class="mb-3">
            <label for="name" class="col-form-label">name:</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="mb-3">
            <label for="age" class="col-form-label">age:</label>
            <input type="number" class="form-control" id="age" name="age">
          </div>
        </div> --}}
              <div class="modal-body">
          <div class="mb-3">
            <label for="title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title">
          </div>
          <div class="mb-3">
            <label for="caloriesAmount" class="col-form-label">Calories amount:</label>
            <input type="number" class="form-control" id="caloriesAmount" name="caloriesAmount">
          </div>
          <div class="mb-3">
            <label for="videoId" class="col-form-label">Video ID:</label>
            <input type="text" class="form-control" id="videoId" name="videoId"></input>
          </div>
          <div class="mb-3">
            Level: 
          <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="level" id="level1" value="beginner" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="level1">Beginner</label>

            <input type="radio" class="btn-check" name="level" id="level2" value="medium" autocomplete="off">
            <label class="btn btn-outline-primary" for="level2">Medium</label>

            <input type="radio" class="btn-check" name="level" id="level3" value="advance" autocomplete="off">
            <label class="btn btn-outline-primary" for="level3">Advance</label>
          </div>
          </div>
          <div class="mb-3">

            Category: 
          <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="category" id="legs" value="legs" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="legs">Legs</label>

            <input type="radio" class="btn-check" name="category" id="abs" value="abs" autocomplete="off">
            <label class="btn btn-outline-primary" for="abs">Abs</label>

            <input type="radio" class="btn-check" name="category" id="chest" value="chest" autocomplete="off">
            <label class="btn btn-outline-primary" for="chest">Chest</label>

            <input type="radio" class="btn-check" name="category" id="arms" value="arms" autocomplete="off">
            <label class="btn btn-outline-primary" for="arms">Arms</label>

            <input type="radio" class="btn-check" name="category" id="shoulder" value="shoulder" autocomplete="off">
            <label class="btn btn-outline-primary" for="shoulder">Shoulder</label>
            </div>
          </div>
          <div class="mb-3">

            Sex: 
            <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="sex" id="male" value="male" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="male">Male</label>

            <input type="radio" class="btn-check" name="sex" id="female" value="female" autocomplete="off">
            <label class="btn btn-outline-primary" for="female">Female</label>

            <input type="radio" class="btn-check" name="sex" id="sex3" value="both" autocomplete="off">
            <label class="btn btn-outline-primary" for="sex3">Both</label>
          </div>
          </div>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" id="submitBtn" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
<button type="button text-center" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">Create</button>
<div class="container d-flex m-5">
  <div class="row">
      {{#each videos}}
      <div class="card col-3" style="width: 18rem;">
        <a href="/video/{{this.videoId}}">
          <img src="{{this.image}}" class="card-img-top" alt="image">
        </a>
        <div class="card-body">
          <a href="/video/{{this.videoId}}"></a>
          <p class="card-text">{{this.title}}</p>
        </div>
        <button type="button" id="editBtn" class="btn btn-warning" data-bs-toggle="modal-edit" data-bs-target="#modal"
          data-bs-whatever="{{this.id}}">Edit</button>
      </div>
      {{/each}}
  </div>
</div>



<div class="modal fade" id="modal-edit" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Video</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="/admin/user">
        {{!-- <div class="modal-body">
          <div class="mb-3">
            <label for="name" class="col-form-label">name:</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="mb-3">
            <label for="age" class="col-form-label">age:</label>
            <input type="number" class="form-control" id="age" name="age">
          </div>
        </div> --}}
              <div class="modal-body">
          <div class="mb-3">
            <label for="title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title">
          </div>
          <div class="mb-3">
            <label for="caloriesAmount" class="col-form-label">Calories amount:</label>
            <input type="number" class="form-control" id="caloriesAmount" name="caloriesAmount">
          </div>
          <div class="mb-3">
            <label for="videoId" class="col-form-label">Video ID:</label>
            <input type="text" class="form-control" id="videoId" name="videoId"></input>
          </div>
          <div class="mb-3">
            Level: 
          <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="level" id="level1" value="beginner" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="level1">Beginner</label>

            <input type="radio" class="btn-check" name="level" id="level2" value="medium" autocomplete="off">
            <label class="btn btn-outline-primary" for="level2">Medium</label>

            <input type="radio" class="btn-check" name="level" id="level3" value="advance" autocomplete="off">
            <label class="btn btn-outline-primary" for="level3">Advance</label>
          </div>
          </div>
          <div class="mb-3">

            Category: 
          <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="category" id="legs" value="legs" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="legs">Legs</label>

            <input type="radio" class="btn-check" name="category" id="abs" value="abs" autocomplete="off">
            <label class="btn btn-outline-primary" for="abs">Abs</label>

            <input type="radio" class="btn-check" name="category" id="chest" value="chest" autocomplete="off">
            <label class="btn btn-outline-primary" for="chest">Chest</label>

            <input type="radio" class="btn-check" name="category" id="arms" value="arms" autocomplete="off">
            <label class="btn btn-outline-primary" for="arms">Arms</label>

            <input type="radio" class="btn-check" name="category" id="shoulder" value="shoulder" autocomplete="off">
            <label class="btn btn-outline-primary" for="shoulder">Shoulder</label>
            </div>
          </div>
          <div class="mb-3">

            Sex: 
            <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="sex" id="male" value="male" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="male">Male</label>

            <input type="radio" class="btn-check" name="sex" id="female" value="female" autocomplete="off">
            <label class="btn btn-outline-primary" for="female">Female</label>

            <input type="radio" class="btn-check" name="sex" id="sex3" value="both" autocomplete="off">
            <label class="btn btn-outline-primary" for="sex3">Both</label>
          </div>
          </div>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" id="submitBtn" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
